@page
@model Societate_de_Valori.Pages.Firme.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Firma</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firma.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firma.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firma.NumarAngajati)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firma.NumarAngajati)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firma.NumeActiune)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firma.NumeActiune)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firma.Tara)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firma.Tara)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Firma.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
